.mars_page {
    .mars_pictures_wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .mars_picture_each {
            margin: 5px;
            border: 3px solid $main-blue;
            label, span {
                text-align: center;
                font-size: 17px;
            }
            div {
                display: flex;
                justify-content: center;
            }
        }
    }
}
.mars_select_wrapper {
    display: flex;
    padding: 10px;
    margin: 0 auto;
    justify-content: center;
    .mars_select_item {
        padding: 10px;
        .mars_select_label {
            display: block;
            font-size: 20px;
            color: $main-blue;
            margin-bottom: 10px;
        }
        .select_common {
            font-size: 15px;
            padding: 5px;
        }
    }
}