@import 'config';
@import 'mixins';
@import 'inheritence';
@import 'asteroids-page';
@import 'table-header';
@import 'rows';
@import 'mars-page';

body {
    margin: 0;
    padding: 0;
}
.logo {
    width: 100px;
    height: 80px;
    margin: 0 auto;
    display: block;
}
.menu {
    width: 300px;
    font-size: 20px;
    padding: 10px;
    margin: 10px auto;
    
    a {
        @include blue-button
    }
}